@model asm4._1_2.Models.Book

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<hr />
@if (ViewBag.Message != null)
{
    <p class="text-danger">@ViewBag.Message</p>
}
else
{
    
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="title" class="control-label">Title</label>
                    <input asp-for="title" class="form-control" required />
                    <span asp-validation-for="title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="description" class="control-label">Description</label>
                    <input asp-for="description" class="form-control" required />
                    <span asp-validation-for="description" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="imageUrl" class="control-label">Poster</label>

                    <div class="input-group">
                        <input asp-for="imageUrl" class="form-control" accept="image/*" type="file" 
                        placeholder="Choose image from your computer or link from Internet" required
                               id="imageUrlInput" />
                        <div class="input-group-append">
                        </div>
                    </div>

                    <span asp-validation-for="imageUrl" class="text-danger"></span>
                    <img id="previewImage" src="@Model.imageUrl" alt="@Model.imageUrl"
                         style=" width: 200px; margin-top: 10px;" />
                </div>
                

                <div class="form-group">
                    <label asp-for="price" class="control-label">Price</label>
                    <input asp-for="price" class="form-control" required />
                    <span asp-validation-for="price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="author" class="control-label">Author</label>
                    <input asp-for="author" class="form-control" required />
                    <span asp-validation-for="author" class="text-danger"></span>
                </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
}

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        $(document).ready(function () {
            // Sự kiện khi trường input thay đổi
            $("#imageUrlInput").change(function () {
                var input = this;

                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        // Lấy dữ liệu hình ảnh được chọn
                        var imageUrl = e.target.result;

                        // Cập nhật đường dẫn ảnh trên trang
                        $("#previewImage").attr("src", imageUrl);
                        $("#previewImage").attr("alt", imageUrl);
                    };

                    // Đọc dữ liệu của file hình ảnh
                    reader.readAsDataURL(input.files[0]);
                }
            });
        });
    </script>
}
